name: ci

on:
  workflow_call:

inputs:
  min-node-version:
    description: 'The minimum version of nodejs with which to run the workflow'
    required: false
    type: number

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows, macos]
        node: ${{ inputs.min-node-version == 14 && fromJSON('["*", "16", "14"]') || fromJSON('["16", "14", "12"]') }}
        hapi: ["20", "19"]

    runs-on: ${{ matrix.os }}-latest
    name: ${{ matrix.os }} node@${{ matrix.node }} hapi@${{ matrix.hapi }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          check-latest: ${{ matrix.node == '*' }}
      - name: install
        run: npm install
      - name: install hapi
        run: npm install @hapi/hapi@${{ matrix.hapi }}
      - name: test
        run: npm test
